In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir())

['.anaconda', '.xsession-errors', '2020-03-08 14-11-46.mp4', 'train.csv', 'Pandas', 'Основы Python.docx', 'Python A2 (21.03.2020).ipynb', 'Satom.xlsx', '.bash_profile', 'ratings_example.txt', 'users.csv', 'Python B5-B6 (21.03.2020).ipynb', 'data', '.gtkrc-2.0-kde4', 'aquatic-bags.zip', '.zoom', 'data_sf.csv', 'StudentsPerformance.csv', '.jupyter', 'Видео', 'movies.csv', 'ratings.csv', '.java', 'Загрузки', 'Проект 0 модуля', 'Музыка', 'movies_example.txt', 'Визуализация данных 18.04-Вебинар.ipynb', 'Folder wis Nout', 'anaconda3', 'Puthon3_1.ipynb', '.ipynb_checkpoints', 'Python A1-1 (08.03.2020).ipynb', '.PyCharmCE2019.3', 'Общедоступные', 'Изображения', 'sample.csv', '.Xauthority', '.bash_history', 'Git.ipynb', '.gitconfig', '.cache', 'data.csv', '.local', '.esd_auth', 'Документы', 'Funkc.ipynb', '.ssh', '.viminfo', '[SF-DST] Movies IMBD v3.0.ipynb', 'Untitled Folder', 'data.zip', 'footbol.csv', '.vscode', '.cufflinks', 'Programs', 'Python B1-B3 (08.03.2020).ipynb', 'Модуль 8 очистка данных.ipynb', 'Шаблоны', '7 Объединение таблиц.ipynb', '.condarc', '.ipython', 'data.json', 'PycharmProjects', 'Unit 1 Pandas.ipynb', 'Python Base.ipynb', 'Группировка 6_1.ipynb', '.conda', '.python_history', '.pylint.d', '.bashrc', 'Рабочий стол', '.gtkrc-2.0', '.bash_logout', 'Python A1-2 (15.03.2020).ipynb', '.config', 'log.csv', '2020-03-01 12-14-39.mp4', 'Очистка_данных_и_создание_новых_26_04.ipynb', '.kde', '.mozilla', 'Выборка данных', '.pki']

In [10]:
data = pd.read_csv('data.csv')
data.head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015

In [11]:
len(data)

1890

In [ ]:
data.columns

# Предобработка датасета

In [140]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [141]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

In [137]:
data.sort_values(('budget'),ascending=False).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431,12
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,3180,6.3,2011,641683000,5
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,2626,6.8,2007,661000000,5

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [145]:
answer_ls.append(2)
print(answer_ls)

[4, 2]

In [144]:
data.sort_values(('runtime'),ascending=False).head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,23,5.8,2003,-43076064,2
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,2003-12-01,5636,7.9,2003,1024888979,12

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [147]:
answer_ls.append(3)

In [146]:
data.sort_values(('runtime'),ascending=False).tail(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,Harriet Owen|Blayne Weaver|Jeff Bennett|Kath S...,Robin Budd|Donovan Cook,The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,Adventure|Fantasy|Animation|Family,Walt Disney Pictures|Walt Disney Television An...,2002-02-14,174,6.2,2002,89862682,2
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,174,6.8,2011,-15540000,4

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [150]:
answer_ls.append(2)

In [149]:
data.runtime.mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [152]:
answer_ls.append(1)

In [151]:
data.runtime.median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [155]:
answer_ls.append(5)

In [153]:
data['loss'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)

In [154]:
data.sort_values(('loss'),ascending=False).head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,8458,7.1,2009,2544505847,12
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1868178225,12

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [157]:
answer_ls.append(2)

In [156]:
data.sort_values(('loss'),ascending=False).tail(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090,7
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,2010-12-02,74,6.4,2010,-413912431,12

In [437]:
data_loss = data[data['loss'] >0]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [162]:
answer_ls.append(1)

In [438]:
data_loss = data[data['loss'] >0]

In [439]:
not_loss = len(data_loss)
display(not_loss)

1478

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [165]:
answer_ls.append(4)

In [164]:
data2= data[data['release_year'] == 2008]
data2.sort_values(('loss'),ascending=False).head(2)
#display(data2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8432,8.1,2008,816921825,7
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,Harrison Ford|Cate Blanchett|Shia LaBeouf|Ray ...,Steven Spielberg,The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,Adventure|Action,Lucasfilm|Paramount Pictures,2008-05-21,1537,5.6,2008,601636033,5

In [31]:
title=['Madagascar: Escape 2 Africa tt0479952', 'Iron Man tt0371746', 'Kung Fu Panda tt0441773', 'The Dark Knight tt0468569',
'Mamma Mia! tt0795421']
data.groupby('original_title')['loss'].max()

original_title
(500) Days of Summer        53222734
10,000 BC                  161000000
102 Dalmatians              98611771
12 Rounds                   -2719674
12 Years a Slave           167000000
                             ...
Zoom                       -22493812
xXx                        207448382
xXx: State of the Union    -15926068
Ã†on Flux                   -9695999
Ð¡Ñ‚Ð°Ð»Ð¸Ð½Ð³Ñ€Ð°Ð´        38129518
Name: loss, Length: 1888, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [169]:
answer_ls.append(5)

In [168]:
data3 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
data3.sort_values(('loss'),ascending=False).tail(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,loss,mounth
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,Jeff Bridges|Ryan Reynolds|Kevin Bacon|Stephan...,Robert Schwentke,To protect and serve the living,A recently slain cop joins a team of undead po...,96,Fantasy|Action|Comedy|Crime,Universal Pictures|Original Film|Dark Horse En...,2013-07-18,876,5.3,2013,-68351500,7
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,1607,6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [178]:
answer_ls.append(3)

In [177]:
dir_c ={}
dir_l = ['Drama', 'Comedy', 'Action', 'Thriller', 'Adventure']
for dl in dir_l:
    data_c = data[data.genres.str.contains(dl, na=False)]
    x = data_c.loss.count()
    dir_c[dl] = x
display(sorted(dir_c.items(),key=lambda item: item[1]))

[('Adventure', 416),
 ('Action', 583),
 ('Thriller', 597),
 ('Comedy', 683),
 ('Drama', 782)]

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [179]:
answer_ls.append(1)

In [440]:
data_loss = data[data['loss'] >0]
dir_c ={}
dir_l = ['Drama', 'Comedy', 'Action', 'Thriller', 'Adventure']
for dl in dir_l:
    data_c = data1[data1.genres.str.contains(dl, na=False)]
    x = data_c.loss.count()
    dir_c[dl] = x
display(sorted(dir_c.items(),key=lambda item: item[1]))

[('Adventure', 337),
 ('Action', 444),
 ('Thriller', 446),
 ('Comedy', 551),
 ('Drama', 560)]

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [181]:
answer_ls.append(3)

In [180]:
data['director'].value_counts()

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Shawn Levy           10
Steven Spielberg     10
                     ..
Dan Gilroy            1
Michael Sucsy         1
Kevin Bray            1
Wong Kar-wai          1
Fred Savage           1
Name: director, Length: 958, dtype: int64

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [183]:
answer_ls.append(4)

In [441]:
data_loss['director'].value_counts()

Ridley Scott                                 12
Steven Spielberg                             10
Steven Soderbergh                            10
Clint Eastwood                               10
Shawn Levy                                    9
                                             ..
Tom Hanks                                     1
Shane Black                                   1
Trey Parker                                   1
Andrew Adamson|Kelly Asbury|Conrad Vernon     1
Dean Israelite                                1
Name: director, Length: 774, dtype: int64

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [442]:
dir_dd ={}
dir_l = ['Steven Spielberg','Christopher Nolan','David Yates','James Cameron','Peter Jackson']
for dl in dir_l:
    data_d = data_loss[data_loss.director == dl]
    x = data_d.loss.sum()
    dir_dd[dl] = x
display(sorted(dir_dd.items(),key=lambda item: item[1]))

[('Steven Spielberg', 2449700791),
 ('James Cameron', 2548546718),
 ('Christopher Nolan', 3162548502),
 ('David Yates', 3379295625),
 ('Peter Jackson', 5202593685)]

In [186]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [189]:
answer_ls.append(1)

In [187]:
dir_c ={}
dir_l = ['Emma Watson', 'Johnny Depp', 'Michelle Rodriguez', 'Orlando Bloom', 'Rupert Grint']
for dl in dir_l:
    data_c = data[data.cast.str.contains(dl, na=False)]
    x = data_c.loss.sum()
    dir_c[dl] = x
display(sorted(dir_c.items(),key=lambda item: item[1]))

[('Michelle Rodriguez', 4608031235),
 ('Johnny Depp', 4776417000),
 ('Orlando Bloom', 5148578162),
 ('Rupert Grint', 6408638290),
 ('Emma Watson', 6666245597)]

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [191]:
answer_ls.append(3)

In [443]:
dir_c ={}
dir_l = ['Nicolas Cage', 'Danny Huston', 'Kirsten Dunst', 'Jim Sturgess', 'Sami Gayle']
for dl in dir_l:
    data_c = data_loss[data_loss.cast.str.contains(dl, na=False)]
    x = data_c.loss.sum()
    dir_c[dl] = x
display(sorted(dir_c.items(),key=lambda item: item[1]))

[('Sami Gayle', 0),
 ('Jim Sturgess', 113451373),
 ('Danny Huston', 400982601),
 ('Nicolas Cage', 1857527247),
 ('Kirsten Dunst', 2048970043)]

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [210]:
answer_ls.append(3)

In [207]:
cast_b={}
budget_m = data.budget.mean()
datam = data[data.budget > budget_m]
dict_cm={}
dir_cm=['Tom Cruise', 'Mark Wahlberg', 'Matt Damon', 'Angelina Jolie', 'Adam Sandler']
for dl in dir_cm:
    data_c_m = datam[datam.cast.str.contains(dl, na=False)]
    x=len(data_c_m)
    cast_b[dl]=x
display(sorted(cast_b.items(),key=lambda item: item[1]))
#display(cast_b)

[('Mark Wahlberg', 14),
 ('Tom Cruise', 15),
 ('Angelina Jolie', 16),
 ('Adam Sandler', 17),
 ('Matt Damon', 18)]

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [213]:
answer_ls.append(2)

In [212]:
cast_act={}
data_nic = data[data.cast.str.contains('Nicolas Cage', na=False)]
#data_nic.genres.unique()
dir_cm=['Drama', 'Action', 'Thriller', 'Adventure', 'Crime']
for dl in dir_cm:
    data_nic1 = data_nic[data_nic.genres.str.contains(dl, na=False)]
    x=len(data_nic1)
    cast_act[dl]=x
display(sorted(cast_act.items(),key=lambda item: item[1]))

[('Adventure', 7),
 ('Crime', 10),
 ('Drama', 12),
 ('Thriller', 15),
 ('Action', 17)]

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [226]:
answer_ls.append(1)

In [224]:
cast_f={}
dir_f=['Universal', 'Paramount Pictures', 'Columbia Pictures', 
       'Warner Bros', 'Twentieth Century Fox Film Corporation']
for dl in dir_f:
    data_f = data[data.production_companies.str.contains(dl, na=False)]
    x=data_f.imdb_id.count()
    cast_f[dl]=x
display(sorted(cast_f.items(),key=lambda item: item[1]))

[('Twentieth Century Fox Film Corporation', 109),
 ('Paramount Pictures', 122),
 ('Columbia Pictures', 163),
 ('Warner Bros', 183),
 ('Universal', 185)]

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [230]:
answer_ls.append(4)

In [229]:
data_f15=data[(data.release_year == 2015)]
cast_f={}
dir_f=['Universal Pictures', 'Paramount Pictures', 'Columbia Pictures', 
       'Warner Bros', 'Twentieth Century Fox Film Corporation']
for dl in dir_f:
    data_f = data_f15[data_f15.production_companies.str.contains(dl, na=False)]
    x=len(data_f)
    cast_f[dl]=x
display(sorted(cast_f.items(),key=lambda item: item[1]))
#display(cast_f)

[('Paramount Pictures', 7),
 ('Columbia Pictures', 7),
 ('Twentieth Century Fox Film Corporation', 8),
 ('Universal Pictures', 11),
 ('Warner Bros', 12)]

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [236]:
answer_ls.append(2)

In [235]:
data_gc=data[data.genres.str.contains('Comedy', na=False)]
cast_g={}
dir_g=['Universal', 'Paramount Pictures', 'Columbia Pictures', 
       'Warner Bros', 'Twentieth Century Fox Film Corporation']
for dl in dir_g:
    data_g = data_gc[data_gc.production_companies.str.contains(dl, na=False)]
    x=data_g.revenue.sum()
    cast_g[dl]=x
display(sorted(cast_g.items(),key=lambda item: item[1]))

[('Paramount Pictures', 5195625722),
 ('Warner Bros', 7355328916),
 ('Twentieth Century Fox Film Corporation', 8092960294),
 ('Columbia Pictures', 12170105266),
 ('Universal', 13133749034)]

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [241]:
answer_ls.append(3)

In [240]:
data_c12 = data[(data.release_year == 2012)]
cast_g={}
dir_g=['Universal', 'Paramount Pictures', 'Columbia Pictures', 
       'Warner Bros', 'Twentieth Century Fox Film Corporation']
for dl in dir_g:
    data_g = data_c12[data_c12.production_companies.str.contains(dl, na=False)]
    x=data_g.revenue.sum()
    cast_g[dl]=x
display(sorted(cast_g.items(),key=lambda item: item[1]))

[('Paramount Pictures', 606726715),
 ('Twentieth Century Fox Film Corporation', 974676825),
 ('Warner Bros', 1869520056),
 ('Universal', 2901011579),
 ('Columbia Pictures', 3468406608)]

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [244]:
answer_ls.append(1)

In [243]:
cast_f={}
data_param=data[data.production_companies.str.contains('Paramount Pictures', na=False)]
dir_g=['tt0267626', 'tt0435705', 'tt0315297', 'tt0811138', 'tt0964517']
for dl in dir_g:
    data_g = data_param[data_param.imdb_id.str.contains(dl, na=False)]
    x=data_g.loss.sum()
    cast_f[dl]=x
#display(cast_f)
display(sorted(cast_f.items(),key=lambda item: item[1]))

[('tt0267626', -64831034),
 ('tt0435705', -51788987),
 ('tt0315297', -24805000),
 ('tt0811138', -20180936),
 ('tt0964517', -15809131)]

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [249]:
answer_ls.append(5)

In [246]:
cast_f={}
dir_g=[2014, 2008, 2012, 2002, 2015]
for dl in dir_g:
    data_g = data[(data.release_year == dl)]
    x=data_g.loss.sum()
    cast_f[dl]=x
display(sorted(cast_f.items(),key=lambda item: item[1]))

[(2002, 9002361487),
 (2008, 11663881990),
 (2012, 16077001687),
 (2014, 16397812953),
 (2015, 18668572378)]

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [252]:
answer_ls.append(1)

In [251]:
data_w = data[data.production_companies.str.contains('Warner Bros', na=False)]
cast_f={}
dir_g=[2014, 2008, 2012, 2010, 2015]
for dl in dir_g:
    data_g = data_w[(data_w.release_year == dl)]
    x=data_g.loss.sum()
    cast_f[dl]=x
display(sorted(cast_f.items(),key=lambda item: item[1]))

[(2015, 870368348),
 (2012, 1258020056),
 (2010, 1974712985),
 (2008, 2134595031),
 (2014, 2295464519)]

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [258]:
answer_ls.append(4)

In [254]:
data['release_date'] = pd.to_datetime(data['release_date'])

In [256]:
data['mounth'] = data['release_date'].dt.month

In [257]:
data.groupby(data['release_date'].dt.month)['imdb_id'].count()

release_date
1     110
2     135
3     156
4     149
5     140
6     147
7     142
8     161
9     227
10    186
11    146
12    191
Name: imdb_id, dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [261]:
answer_ls.append(2)

In [260]:
montt = []
for x in (6,7,8):
    mont = data.groupby(data['release_date'].dt.month == x )['imdb_id'].count()[True]
    montt.append(int(mont))
    
#type(str(montt))
display(sum(montt))

450

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [265]:
answer_ls.append(5)

In [262]:
cast_f1={}
dir_g=['Steven Soderbergh', 'Christopher Nolan', 'Clint Eastwood', 'Ridley Scott', 'Peter Jackson']
data_m = data
for x in (12,1,2):
        mount = data_m['release_date'].dt.month == x
        data_c12 = data_m.loc[mount]
        for dl in dir_g:
            data_g = data_c12[data_c12.director.str.contains(dl, na=False)]
            x=data_g.imdb_id.count()
            if dl in cast_f1:
                cast_f1[dl]+=x
            else:
                cast_f1[dl]=x
display(cast_f1)

{'Steven Soderbergh': 6,
 'Christopher Nolan': 0,
 'Clint Eastwood': 6,
 'Ridley Scott': 3,
 'Peter Jackson': 7}

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [268]:
answer_ls.append(2)

In [267]:
datal = data.groupby('mounth')['loss'].sum()
datal

mounth
1      5396885454
2      8854574425
3     13720216540
4     12876005537
5     25039516141
6     27551262500
7     18307895020
8      9640610446
9     10878921041
10    12994907859
11    18654155473
12    26563071474
Name: loss, dtype: int64

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [271]:
answer_ls.append(5)

In [454]:
x = len(data.groupby(data.production_companies.str.contains('Universal Pictures', na=False))['original_title'].sum()[True])
y = data.groupby(data.production_companies.str.contains('Universal Pictures', na=False))['original_title'].agg('count')[True]
print(x/y,x,y)

14.731428571428571 2578 175

In [453]:
x = len(data.groupby(data.production_companies.str.contains('Four By Two Productions', na=False))['original_title'].sum()[True])
y = data.groupby(data.production_companies.str.contains('Four By Two Productions', na=False))['original_title'].agg('count')[True]
print(x/y,x,y)

83.0 83 1

In [270]:
cast_f={}
dir_f=['Universal Pictures', 'Paramount Pictures', 'Four By Two Productions', 
       'Warner Bros', 'Jim Henson Company, The']
for dl in dir_f:
    data_f = data[data.production_companies.str.contains(dl, na=False)]
    x=data_f.original_title.count()
    y=len(data_f.original_title.sum())
    cast_f[dl]=y/x

display(sorted(cast_f.items(),key=lambda item: item[1]))

[('Universal Pictures', 14.731428571428571),
 ('Warner Bros', 15.251366120218579),
 ('Paramount Pictures', 17.0327868852459),
 ('Jim Henson Company, The', 59.0),
 ('Four By Two Productions', 83.0)]

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [273]:
answer_ls.append(5)

In [272]:
cast_f={}
dir_f=['Universal Pictures', 'Paramount Pictures', 'Four By Two Productions', 
       'Warner Bros', 'Jim Henson Company, The']
for dl in dir_f:
    data_f = data[data.production_companies.str.contains(dl, na=False)]
    word = len(str((data_f.original_title)).split(" "))
    col = len(data_f.original_title)
    display(dl, word/col)

'Universal Pictures'

1.7771428571428571

'Paramount Pictures'

2.3442622950819674

'Four By Two Productions'

15.0

'Warner Bros'

1.0163934426229508

'Jim Henson Company, The'

14.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [275]:
answer_ls.append(3)

In [395]:
from collections import Counter
import re

titles = set()
reg = re.compile(r'([a-z&\.:\-\'!\,\(\)\?\/]+|[0-9]+)')
for title in data["original_title"]:
   
    titles.update(re.findall(reg, title.lower()))
len(titles)

2460

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [277]:
answer_ls.append(1)

In [485]:
data18 = data.sort_values(('vote_average'),ascending=False).head(18)
cast_f={}
dir_f=['Inside Out', 'Gone Girl', '12 Years a Slave', 'BloodRayne', 'The Adventures of Rocky & Bullwinkle',
      'The Lord of the Rings: The Return of the King', '300, Lucky Number Slevin' ]
for dl in dir_f:
    data_f = data18[data18.original_title.str.contains(dl, na=False)]
    x = data_f.imdb_id.count()
    cast_f[dl] = x
display(cast_f)

{'Inside Out': 1,
 'Gone Girl': 1,
 '12 Years a Slave': 1,
 'BloodRayne': 0,
 'The Adventures of Rocky & Bullwinkle': 0,
 'The Lord of the Rings: The Return of the King': 1,
 '300, Lucky Number Slevin': 0}

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [278]:
answer_ls.append(5)

In [130]:
data_cast = data[data.cast.str.contains('Johnny Depp', na=False)]
data_cast2 = data_cast[data_cast.cast.str.contains('Helena Bonham Carter', na=False)]
data_cast2.imdb_id.count()

6

In [131]:
data_cast = data[data.cast.str.contains('Hugh Jackman', na=False)]
data_cast2 = data_cast[data_cast.cast.str.contains('Ian McKellen', na=False)]
data_cast2.imdb_id.count()

5

In [133]:
data_cast = data[data.cast.str.contains('Adam Sandler', na=False)]
data_cast2 = data_cast[data_cast.cast.str.contains('Kevin James', na=False)]
data_cast2.imdb_id.count()

5

In [134]:
data_cast = data[data.cast.str.contains('Vin Diesel', na=False)]
data_cast2 = data_cast[data_cast.cast.str.contains('Paul Walker', na=False)]
data_cast2.imdb_id.count()

5

In [135]:
data_cast = data[data.cast.str.contains('Daniel Radcliffe', na=False)]
data_cast2 = data_cast[data_cast.cast.str.contains('Rupert Grint', na=False)]
data_cast2.imdb_id.count()

8

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [281]:
answer_ls.append(4)

In [464]:
cast_dir={}
dir_f=['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']
for dl in dir_f:
    data_dir = data_loss[data_loss.director.str.contains(dl, na=False)]
    data_d = data[data.director.str.contains(dl, na=False)]
    loss = data_dir.imdb_id.count()
    count = data_d.imdb_id.count()
    veri = loss/count
    cast_dir[dl] = (loss, count, veri)
director_loss = pd.DataFrame(cast_dir, index=['Фильмы в прибыли', 'Всего фильмов', 'Вероятность быть в прибыли'])
director_loss

,Quentin Tarantino,Steven Soderbergh,Robert Rodriguez,Christopher Nolan,Clint Eastwood
Фильмы в прибыли,6.000000,10.000000,8.000000,8.0,10.000000
Всего фильмов,7.000000,13.000000,11.000000,8.0,12.000000
Вероятность быть в прибыли,0.857143,0.769231,0.727273,1.0,0.833333

In [282]:
print(answer_ls)

[4, 2, 3, 2, 1, 5, 2, 1, 4, 5, 3, 1, 3, 4, 5, 1, 3, 3, 2, 1, 4, 2, 3, 1, 5, 1, 4, 2, 5, 2, 5, 5, 3, 1, 5, 4]

# Submission

In [283]:
len(answer_ls)

36

In [284]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4